specs/001-lead-automation-mvp/power-automate/flow2-dashboard-data.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_76072"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "GET",
            "triggerAuthenticationType": "All",
            "schema": {}
          }
        }
      },
      "actions": {
        "GetLeads": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://matchacoast.sharepoint.com/sites/Div'sAutomationforBORG",
              "table": "325c791f-80cf-4200-aa94-b0d1db940c09",
              "$top": 200,
              "$orderby": "Created desc"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {}
        },
        "ProjectLeads": {
          "type": "Select",
          "inputs": {
            "from": "@outputs('GetLeads')?['body/value']",
            "select": {
              "id": "@item()?['ID']",
              "title": "@item()?['Title']",
              "company": "@item()?['Company']",
              "email": "@item()?['Email']",
              "message": "@item()?['Message']",
              "emailDomain": "@item()?['EmailDomain']",
              "processingStatus": "@item()?['ProcessingStatus']?['Value']",
              "enrichmentCompany": "@item()?['EnrichmentCompany']",
              "enrichmentIndustry": "@item()?['EnrichmentIndustry']",
              "enrichmentEmployees": "@item()?['EnrichmentEmployees']",
              "enrichmentLocation": "@item()?['EnrichmentLocation']",
              "enrichmentStatus": "@item()?['EnrichmentStatus']?['Value']",
              "aiCategory": "@item()?['AICategory']?['Value']",
              "aiSummary": "@item()?['AISummary']",
              "notificationStatus": "@item()?['NotificationStatus']?['Value']",
              "errorFlag": "@coalesce(item()?['ErrorFlag'], false)",
              "errorSummary": "@item()?['ErrorSummary']",
              "stepHistory": "@item()?['StepHistory']",
              "created": "@item()?['Created']"
            }
          },
          "runAfter": {
            "GetLeads": [
              "Succeeded"
            ]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json",
              "Access-Control-Allow-Origin": "*",
              "Access-Control-Allow-Methods": "GET, OPTIONS",
              "Access-Control-Allow-Headers": "Content-Type"
            },
            "body": {
              "leads": "@body('ProjectLeads')"
            }
          },
          "runAfter": {
            "ProjectLeads": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
